/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-dark-blue: #13243C;
    --color-light-blue: #04FCFA;
    --color-dark: #0C1829;
    --color-white: #fff;
    --font-manrope:  Manrope, sans-serif;
    --color-gray: #9293B9;
    --color-darker-blue: #2b3953;
}