/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-kart: #13243C;
    --color-ETH: #04FCFA;
    --background-color: #0C1829;
    --text-basic-color: #fff;
    --font-family-basic:  Manrope, sans-serif;
    --text-content-color: #9293B9;
    
}