/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import "/src/global-styles/styles/root.scss";

body {
    background: var(--background-color);
}
.container {
    display: flex;
    justify-content: center;
    font-family: var(--font-family-basic);
}

  .component-card {
    display: flex;
    flex-direction: column;   
    position: relative; 
    margin: 15% 2%;
    width: 413px;
    height: 556px;
    background-color: var(--color-kart);
    color: var(--text-basic-color);
    border-radius: 20px;
  
    & &__description {
      position: absolute;
      top: 252px;
      margin: 0 32px;
      width: -webkit-fill-available;
    }
    & &__header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 278px;
    }

    & &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }
    
    & &__content {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: var(--text-content-color);
    }
    
    & &__image img{
      border-radius: 20px;
      width: 413px;
    }
    
    & &__info {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 34px;
      letter-spacing: -0.01em;
    }
    
    & &__price {
      color: var(--color-ETH);
      font-size: 18px;
      font-weight: 700;
      line-height: 29px;
      & img {
        width: 20px;
        margin-right: 10px;
        vertical-align: sub;
      }
    }
    
    & &__time {
      color: var(--text-content-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.01em;
        padding-top: 2px;
        img {
          width: 16.5px;
          margin-right: 10px;
          vertical-align: middle;
      }
    }
      
    & &__footer {
      display: flex;
      color: var(--text-content-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.01em;
      border-top: 1.5px solid #2B3953;
      padding-top: 14px;
      & img {
        width: 40px;
        height: 40px;
        margin: auto 16px auto 0;
      }
      & a {
        color: var(--text-basic-color);
        font-weight: 600;
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
    
    @media (max-width: 834px){
      width: 343px;
      height: 486px;
      overflow: hidden;
      display: flex;
      align-items: center;
      
      & &__image img {
        position: relative;
        right: 5px;  // na align- 'center' img lekko się nie zgadzał
      }
      & &__description {
        margin: 0 24px;
        top: 229px;
      } 
      & &__header {
        gap: 16px;
      }
      
      & &__info {
          margin: 24px 0 21px;
      }

      & &__price {
          font-size: 16px;
          line-height: 25.6px;
      }
      
      & &__time {
          font-size: 14px;
          line-height: 22px;
          margin-right: 9px;
      }
      
      & &__footer {
          font-size: 14px;
          line-height: 22.4px;
      }
    }
    @media(max-width: 375px){
      & &__info {
        margin: 25px auto 20px;
      }
    }
}


